@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  color: #252B42;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.muted {
  color: #737373;
}

.h1-section {
  font-size: 65px;
}

.section-1 {
  background-image: url("images/hero-cover.png");
  height: 100vh;
  background-size: 100%;
  background-color: rgba(36, 19, 2, 0.5);
  background-blend-mode: multiply;
}
.section-1 nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
}
.section-1 nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}
.section-1 nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
.section-1 nav ul li a {
  text-decoration: none;
  color: white;
}
.section-1 .slogan-text {
  text-align: center;
  color: white;
  margin: 16% 6%;
}
.section-1 .slogan-text h1 {
  font-size: 83px;
  margin: 5% 0;
}
.section-1 .slogan-text p {
  font-size: 20px;
  margin: 0 14%;
}
.section-1 .slogan-text button {
  border-radius: 20px;
  color: white;
}
.section-1 .slogan-text button.learn-more {
  border: solid 1px white;
}
.section-1 .slogan-text .buttons-holder {
  margin: 5%;
}

button.primary {
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #468ffc;
  border-color: #468ffc;
}

.container {
  max-width: 1241px;
  margin: 0 15%;
}

button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-card {
  width: 200px;
  text-align: center;
  padding: 81px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.testimonial-card img {
  width: 199px;
  height: 199px;
  border-radius: 50%;
  margin: 0 auto 10px;
  width: 199px;
  height: 199px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.testimonial-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.rating {
  font-size: 24px;
}

.star {
  color: #FFD700;
}

.pricing {
  text-align: center;
}

.pricing-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 80px 0;
  gap: 20px;
}

.pricing-card {
  flex: 1;
  text-align: center;
  padding: 6% 20px;
  background-color: #fff;
  border: solid #23A6F0 2px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pricing-card h2 {
  font-size: 24px;
  margin: 0;
}

.pricing-card p {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price .price-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
.price .top-half {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.price .top-half span {
  font-size: 1.5rem;
  margin-right: 5px;
}
.price .bottom-half {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.price .bottom-half span {
  font-size: 1rem;
  margin-left: 5px;
}
.price .center {
  flex: 1;
  display: flex;
  align-items: center;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.featured:hover {
  background-color: #252B42;
  transform: scale(1.2);
  z-index: 1;
  color: white;
  cursor: pointer;
}
.featured button {
  width: 86%;
  padding: 1rem;
}

.x .PSS {
  display: flex;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
  position: relative;
  top: -110px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.x .PSS ion-icon {
  font-size: 64px;
  color: #007bff;
}

.card {
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.card:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
.card:hover ion-icon, .card:hover .muted {
  color: white;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-1, .card-2, .card-3 {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.card-1 h1, .card-2 h1, .card-3 h1 {
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.testimonial-card {
  flex: 1;
  text-align: center;
  border-radius: 10px;
}

.brand-products {
  display: flex;
  gap: 20px;
  margin: 0 5%;
}
.brand-products div {
  flex-grow: 1;
}
.brand-products div img {
  width: 45%;
  height: 70%;
  display: block;
}

.dark-background {
  background-color: #252B42;
  color: white;
  height: 70vh;
  padding: 10% 0;
}
.dark-background .upper {
  display: flex;
}
.dark-background h1 {
  font-size: 35px;
}

.appointment-container {
  display: grid;
  grid-template-columns: 30% 70%;
}
.appointment-container img {
  width: 100%;
  height: 715px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.d-flex h1 {
  font-size: 35px;
}

.reserve {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reserve .social-icons {
  display: flex;
  gap: 10px;
}
.reserve .social-icons ion-icon {
  font-size: 24px;
  color: #007bff;
}
.reserve .social-icons ion-icon:hover {
  color: #D31589;
}

li {
  list-style: none;
}

footer {
  background-color: white;
  padding: 2% 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container ion-icon {
  font-size: 24px;
  color: #007bff;
}
footer .container .muted {
  display: flex;
  gap: 10px;
}
footer .container a {
  text-decoration: none;
  padding: 1%;
  font-weight: 500;
}

.appointment-r form {
  background-color: white;
  padding: 0 5%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.appointment-r form h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin: 2% 0;
}

input[type=text],
input[type=email],
select {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #F9F9F9;
  color: #737373;
}

select {
  width: 100%;
}

input[type=text],
input[type=email] {
  width: 94%;
}

.sub-container {
  background: linear-gradient(to right, #054688, #D31589);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3%;
  align-items: center;
}
.sub-container .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: solid white 0.5px;
  border-radius: 5px;
  background-color: white;
}
.sub-container .form-control {
  flex: 1;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background-color: white;
}

button.primary:hover {
  background-color: #0056b3;
}

.card-container ion-icon {
  font-size: 64px;
  color: #007bff;
}

.another {
  background-color: white;
  padding: 6% 0;
}

.industry {
  padding: 2% 0;
}

.pricing-options {
  display: flex;
  grid-template-columns: 13% 98%;
  margin: 6%;
  text-align: left;
  align-content: center;
  align-items: center;
}
.pricing-options ion-icon {
  font-size: 34px;
}

.right-tick ion-icon {
  font-size: 34px;
  color: #01a807;
}

.grey-tick ion-icon {
  font-size: 34px;
  color: #BDBDBD;
}

.globe-section {
  position: relative;
  top: -500px;
  height: 50vh;
}
.globe-section .lower {
  margin: 5%;
}

footer ul {
  padding: 0;
}
footer ul li {
  margin: 5% 0%;
}
footer ul li a:hover {
  color: #0056b3;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .container {
    margin: 0;
  }
  .d-flex, .reserve {
    padding: 0 2%;
  }
  .d-flex h1, .reserve h1 {
    font-size: 22px;
  }
  .globe-section {
    position: relative;
    top: 0;
  }
  .globe-section .appointment-container {
    display: grid;
    grid-template-columns: 100%;
  }
  .globe-section .appointment-container .appointment-l {
    display: none;
  }
  .brand-products div img {
    width: 70%;
    height: 100%;
    display: block;
  }
  .menu-list, .user-actions {
    display: none;
  }
  .section-1 {
    height: auto;
    padding-bottom: 2%;
  }
  .section-1 .slogan-text {
    margin: 0;
  }
  .section-1 .slogan-text h1 {
    font-size: 20px;
  }
  .section-1 .slogan-text p {
    font-size: 14px;
  }
  .section-1 .slogan-text .buttons-holder button {
    font-size: 0.8rem;
  }
  .x {
    padding-top: 5%;
  }
  .x .container {
    margin: 0;
  }
  .x .container .PSS {
    position: relative;
    top: 0;
    padding-bottom: 10%;
  }
  .dark-background {
    height: auto;
  }
  .dark-background .world-image-container {
    display: none;
  }
  .appointment-r form {
    padding-bottom: 10%;
  }
  .testimonial-card {
    margin: 0 7%;
  }
}
