@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');
// *{
//     padding: 0;
//     margin: 0;
//     // font-size: 10px
// }
body{
    background-color: #FAFAFA;
}
.section-1{
    background-image: url('images/hero-cover.png');
    // color: white;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    background-size: 100%;
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: rgba(0, 0, 0, 0.3); 
    // }
    nav {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 0;

        a{
            text-decoration: none;
            color: white;
            
        }

        ul{
            list-style: none;
            display: flex;
            gap: 10px;
            li{
                a{
                    text-decoration: none;
                    color: white;
                    
                }
            }
        }

      }

      .slogan-text{
        text-align: center;
        color: white;
        margin: 16% 6%;

        h1{
            font-size: 99px;
            margin: 5% 0;
        }
        p{
            font-size: 23px;
            margin: 0 14%;
        }
        button{
            border-radius: 20px;
            color: white;
        }
        button.learn-more{
            border: solid 1px white;
        }
        .buttons-holder{
            margin: 5%;
        }
      }


}

button.primary{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    color: #fff;
    background-color: #468ffc;
    border-color: #468ffc;
}

.container{
    max-width: 1241px;
    margin: 0 15%;
}
button{
    display: inline-block;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: center;
text-decoration: none;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
padding: .375rem .75rem;
font-size: 1rem;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


  
  /* .menu-list {
    margin-left: auto; 
  } */
  
  .user-actions {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  
  .testimonial-card {
      width: 200px;
      text-align: center;
      padding: 81px;
      border: 1px solid #ccc;
      border-radius: 8px;
    //   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      background-color: white;
      height: 300px;
      display: flex;
      flex-direction: column;
    }
    
    .testimonial-card img {
        width: 199px;
        height: 199px;
        border-radius: 50%;
        margin: 0 auto 10px;width: 199px;
        height: 199px;
        border-radius: 50%;
        margin: 0 auto 10px;
    }
    
    .testimonial-text {
      font-size: 16px;
      margin-bottom: 10px;
    }
    
    .rating {
      font-size: 24px;
    }
    
    .star {
      color: #FFD700; 
    }
  
  .pricing{
    text-align: center;
  }
  .pricing-cards {
      display: flex;
      justify-content: space-between;

      padding: 20px;

    }
    
    .pricing-card {
      flex: 1;
      text-align: center;
      padding: 20px;
      background-color: #fff;
      border: solid #23A6F0;
      border-radius: 10px;
      transition: transform 0.2s ease-in-out;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .pricing-card h2 {
      font-size: 24px;
      margin: 0;
    }
    
    .pricing-card p {
      font-size: 16px;
      margin: 10px 0;
    }
    
    .price {
      font-size: 24px;
      font-weight: bold;
    }
    
    .button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    
    .featured {
      background-color: #252B42;
      transform: scale(1.05); /* Zoom in slightly */
      z-index: 1;
      color: white;
    }

    .x{

        .PSS{
            display: grid;
            grid-template-columns: 33% 33% 33%;
            gap: 20px;
            position: relative;
            top: -110px;
            ion-icon {
                font-size: 64px;
                color: #007bff;
              }
              .Satisfcation-Card{
                background-color:  #007bff;
                color: white;
                ion-icon {
                    
                    color: white;
                  }
              }
        }
    }

    .card {
        width: 300px; 
        padding: 30px;
        // border: 1px solid #ccc; 
        // border-radius: 8px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        background-color: #fff; 
      }


      .card-container {
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        gap: 20px;
    }
    
    .card-1, .card-2, .card-3 {
        flex: 1;
        text-align: center;
        padding: 20px;
        border-radius: 10px; 
    }
    
    .card-1 h1, .card-2 h1, .card-3 h1 {
        font-size: 24px;
    }

    .text-center{
        text-align: center;
    }
    .testimonial-container{
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        gap: 20px;
    }
    .testimonial-card{
        flex: 1;
        text-align: center;
        // padding: 20px;
        border-radius: 10px; 
    }

    .brand-products{
        display: flex;
        gap: 20px;
        div{
            flex-grow: 1;
            // img{
            //     width: 100px;
            // }
        }
    }

    .sub-container{
        display: flex;
        justify-content: space-between;
        padding: 3%;
    }

    .dark-background{
        background-color: #252B42;
        color: white;
        .upper{
            display: flex;
        }

    }

    .appointment-container{
        display: grid;
        grid-template-columns:  30% 70%;
        img{
            width: 100%;
            height: 700px;
        }
    }
    .d-flex{
        display: flex;
        justify-content: space-between;
    }

    .reserve{
        display: flex;
        justify-content: space-between;
        .social-icons{
            display: flex;
            gap: 10px;

            ion-icon {
                font-size: 24px;
                color: #007bff;
              }
        }

    }

    li{
        list-style: none;
    }

    footer{
        display: flex;
        justify-content: space-between;
        a{
            color: black;
            text-decoration: none;
            padding: 1%;
        }
    }



    .appointment-r form {
        // max-width: 300px;
        background-color: white;
        padding: 5%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    label {
        font-weight: bold;
        display: block;
    }
    
    input[type="text"],
    input[type="email"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    
    select {
        appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5H7z'/></svg>");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 18px;
        padding-right: 30px;
    }
    
    // button {
    //     background-color: #007bff;
    //     color: white;
    //     padding: 10px 20px;
    //     border: none;
    //     border-radius: 4px;
    //     cursor: pointer;
    //     font-size: 16px;
    // }
    
    .sub-container{
        background: linear-gradient(to right, #054688, #D31589);
        color: white;

        .input-group {
            display: flex; /* Make the input and button align horizontally */
            align-items: center; /* Vertically center elements within the input group */
            margin-bottom: 20px; /* Add spacing between input groups if needed */
            border: solid white 0.5px;
        }
        
        /* Style the form control */
        .form-control {
            flex: 1; /* Allow the input to expand and take available space */
            padding: 10px; /* Add padding to the input */
            border: 1px solid #ccc; /* Add a border to the input */
            border-radius: 4px; /* Add border radius */
        }


    }
    button:hover {
        background-color: #0056b3;
    }
    

    .card-container{
        ion-icon {
            font-size: 64px;
            color: #007bff;
          }
    }

    .another{
        background-color: white;
        padding: 6% 0;
    }

    .industry{
        padding: 6% 0;
    }
    .pricing-options{
        display: grid;
        grid-template-columns: 2% 98%;
        ion-icon {
            font-size: 24px;
        }
    }
    .right-tick{

        ion-icon {
            font-size: 24px;
            color: #01a807;
          }

    }

    .dark-background{
        // height: 100vh;
        padding: 5% 0;
    }