body{
    /* overflow-x:hidden  !important; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.section1 {
        /* border: 1px solid green; */
        width: 100vw;
        padding: 0px 0;
        height: 100vh;
        background-image: url('./images/hero.png'); 
        background-size: cover; 
        background-position: center; 
        color: white;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.navs{
    display: flex;
    width: 40%;
    height: 100%;
    color: white;
    align-items: center;
}

.navs h3{
    color: white;
    font-weight: 700;
}

.navbar ul{
    width: 100%;
    justify-content: space-between;
    list-style: none;
    display: flex;
}

.navbar ul li{
    font-weight: lighter;
}

.sidebar{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
}

/* Style for the "Become a member" button */
.member-button {
    background-color: #00BFFF;
    color: white;
    padding: 15px 20px; 
    font-size: 15px; 
    border: none;
    gap: 30px;
}
.login-button{
    font-size: 18px;
    margin-left: 300px;
}

.section1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    text-align: center; 

}
.round-button{
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    margin-top: 20px;
    margin-right: 20px;
}

/* Style for the button container */
.button-container {
    display: flex;
    justify-content: center; 
}
.blue-button {
    color: white;
    background-color: #00BFFF;
}

.white-border-button {
    background-color: transparent; 
    border: 2px solid white; 
}

/* Section 2 styles */
.section2{
    background-color: rgb(234, 229, 229);
    /* border: solid 4px red; */
    padding: 0px 0;
    text-align: center;
    padding: 0px 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 80px;
}

.section2 .subs2{
    display: flex;
    gap: 20px;
    position: relative;
    top: -70px;
    width: 1000px;
    height: 200px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.section2 .icon{
    font-size: 64px;
    color: #007bff;
}
.section2 .text{
    flex-direction: column;
    background-color: white;  
}

.section2 .subs3{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 150px;
}


.section3 .columns {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
    /* background-color: white; */
    /* text-align: center; */

}
.section3 .column{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 20%; 
    background-color: white;
    margin: 10px; 
    box-sizing: border-box; 
    padding: 20px;
    align-items: center;
    height: 50vh;
}
.section3 p{
    padding-top: 50px;
}

.section3 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px; 
    padding-bottom: 50px;   

}
.section3 .column img{
    max-width: 50%;
    height: auto;
    display: flex;
    padding-top: 10px;

}

.section3{
 background-color: #ddd;
/* border: 2px solid yellow; */
width: 100vw;
height: 100vh;
}

.section3 .icons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.section4 {
    background-color: hsl(226, 43%, 10%);


}
.footer{
    border: 2px solid blue;
}